svg {
    border: 1px solid red;
}

path {
    stroke-linejoin: round;
    stroke-miterlimit: 99;
    stroke-width: 3px;
}
text {
    fill: green;
    font-family: "Marker Felt";
    font-weight: 900;
}

.t1 {
    fill: rgba(125, 125, 125, 0.5);
    stroke: rgba(255, 0, 0, 0.5);
}
.t2 {
    fill: rgba(255, 255, 0, 0.5);
    stroke: rgba(55, 155, 255, 0.5);
}

